.roles__item {
  width: 585px;
  min-height: 494px;
  border-radius: 30px;
  padding: 56px 84px 85px 67px;
  box-sizing: border-box;
}

.roles__item:nth-of-type(1) {
  background-color: var(--yellow-background);
  z-index: 6;
}

.roles__item:nth-of-type(2) {
  background-color: var(--green--background);
  z-index: 5;
}

.roles__item:nth-of-type(3) {
  background-color: var(--mint-background);
  z-index: 4;
}

.roles__item:nth-of-type(4) {
  background-color: var(--purple-background);
  z-index: 3;
}

.roles__item:nth-of-type(5) {
  background-color: var(--pink-background);
  z-index: 2;
}

.roles__item:nth-of-type(6) {
  background-color: var(--orange-background);
  z-index: 1;
}

.roles__item:nth-of-type(n) {
  margin-left: calc(-585px + (60px));
}

@media screen and (max-width: 1024px) {
  .roles__item:nth-of-type(n) {
    margin-left: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .roles__item {
    max-height: 335px;
    width: 100%;
    margin-bottom: calc(-375px + (25px));
    min-height: 375px;
  }
}