.form {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  gap: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 950px) {
  .form {
    max-width: 375px;
    margin-top: 20px;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .form {
    max-width: 300px;
    gap: 7px;
    margin-top: 10px;
  }
}