.form__field {
  border: 1px solid var(--main-title-color);
  outline: none;
  padding: 0 0 0 6px;
  height: 25px;
  border-radius: 10px;
  width: 116px;
  align-self: center;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .form__field {
    width: 158px;
  }
}