.open-offer__container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 30px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .open-offer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .open-offer__container {
    grid-template-columns: 1fr;
  }
}