.intro__subtitle {
  font-weight: var(--font-weight-regular);
  font-size: 32px;
  line-height: 38px;
  max-width: 601px;
  margin: 40px 0 0 0;
}
@media screen and (max-width: 900px) {
  .intro__subtitle {
    font-size: 20px;
    line-height: 131.7%;
    margin-top: 29px;
    max-width: 302px;
  }
}
@media screen and (max-width: 700px) {
  .intro__subtitle {
    font-size: 18px;
  }
}