.popup__container {
  background-color: var(--white-text);
  padding: 30px 112px;
  border-radius: 50px;
  cursor: auto;
  position: relative;
}
@media screen and (max-width: 900px) {
  .popup__container {
    padding: 20px 30px;
  }
}