.quiz__role {
  min-height: 677px;
  display: flex;
  padding: 47px 107px 54px 24px;
}

@media screen and (max-width: 480px) {
  .quiz__role {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}