.faculties-card__courses {
  color: var(--faculties-text-color);
  font-weight: var(--font-weight-regular);
  font-size: 22px;
  line-height: 26px;
  margin: 17px 0 0 0;
  max-width: 365px;
}
@media screen and (max-width: 600px) {
  .faculties-card__courses {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    max-width: 223px;
  }
}