.footer__text_type_paragraph {
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 1.28;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .footer__text_type_paragraph {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    line-height: 1.2;
  }
}