.quiz__card-text {
  font-size: 32px;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 480px) {
  .quiz__card-title {
    font-size: 18px;
  }
}