.faculties__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 62px;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .faculties__card-container {
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
  }
}