.open-offers {
  width: 100%;
  padding: 0 71px 119px 77px;
  box-sizing: border-box;
  background-color: var(--medium-bezh-background);
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 480px) {
  .open-offers {
    padding-right: 21px;
    padding-bottom: 19px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 330px) {
  .open-offers {
    padding-left: 0;
    padding-right: 0;
  }
}