.form__yandex-forms {
  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .form__yandex-forms {
    max-width: 148px;
    align-self: center;
  }
}