.header {
  display: flex;
  justify-content: space-between;
  padding: 21px 100px;
}
@media screen and (max-width: 1100px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    border-bottom: 1px solid var(--light-grey-background);
    padding: 20px 32px 13px 18px;
    box-sizing: border-box;
  }
}