.footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 7% 7%;
  width: 86.5%;
  min-height: 505px;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    gap: 10%;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    margin-bottom: 0;
  }
}