.quiz__block {
  padding: 140px 100px 0;
  box-sizing: border-box;
  background-color: var(--medium-bezh-background);
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .quiz__block {
    padding: 80px 20px 0;
  }
}