.expert__number {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 47px;
  margin: 0;
}
@media screen and (max-width: 1240px) {
  .expert__number {
    font-size: 30px;
    line-height: 30px;
  }
}