.offers__rectangle {
  background-image: url(../../../images/rectangle.png);
  background-size: 547px 328px;
  width: 547px;
  height: 328px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 675px) {
  .offers__rectangle {
    right: -70%;
  }
}