.open-offers__blur {
  position: absolute;
  top: 200px;
  left: 0;
  background-color: var(--light-grey-background);
  filter: blur(92px);
  height: 522px;
  width: 90%;
}
@media screen and (max-width: 480px) {
  .open-offers__blur {
    height: 695px;
  }
}