.expert__container {
  border: 13px solid var(--border-color-expert);
  border-radius: 54px;
  width: 1210px;
  height: 375px;
  margin-top: 60px;
  position: relative;
  display: flex;
  background-color: var(--white-background);
}
@media screen and (max-width: 1252px) {
  .expert__container {
    width: 874px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 916px) {
  .expert__container {
    width: 300px;
    height: 527px;
    margin-top: 40px;
  }
}