.expert__container {
  border: 13px solid var(--border-color-expert);
  border-radius: 54px;
  width: 1210px;
  height: 375px;
  margin-top: 60px;
  position: relative;
  display: flex;
  background-color: var(--white-background);
}