.form__submit {
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 24px;
  background-color: var(--yellow-button);
  padding: 10px;
  cursor: pointer;
  border: none;
  width: max-content;
}
@media screen and (max-width: 950px) {
  .form__submit {
    border-radius: 20px;
    padding: 8px 34px;
    font-size: 16px;
    line-height: 21px;
  }
}