.open-offer__button {
  width: 100%;
  height: 60px;
  background-color: var(--white-background);
  background-image: url("../../../images/icon-button-more.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0 0 30px 30px;
  box-shadow: none;
  border: none;
}