.histories__arrow-next {
  background-image: url(../../../images/histories-arrow.svg);
  background-color: var(--transparent-backround);
  border: none;
  height: 43px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 30px;
  z-index: 2;
  transform: rotate(180deg) translate(-100%, 50%);
}