.footer__text {
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-title-color);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 15px;
    line-height: 1.17;
  }
}