.header__btn-burger {
  display: none;
  background-image: url(../../../images/burger-menu.svg);
  background-size: 23px 14px;
  width: 23px;
  height: 14px;
  align-self: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .header__btn-burger {
    display: block;
  }
}