.histories__slider-person {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  width: 20.5%;
  gap: 7%;
}

@media screen and (max-width: 768px) {
  .histories__slider-person {
    margin: 0;
    width: 80%;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .histories__slider-person {
    width: 70%;
    gap: 10px;
  }
}