.footer__wrapper_content_juridical {
  max-width: 506px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 84px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__wrapper_content_juridical {
    margin: 0 0 35px;
  }
}