.open-offers__roles {
  display: flex;
  justify-content: start;
  list-style: none;
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .open-offers__roles {
    min-width: 187px;
  }
}