.intro__button {
  font-weight: var(--font-weight-medium);
  font-size: 24px;
  line-height: 130%;
  padding: 16px 35px;
  background-color: var(--yellow-button);
  border-radius: 30px;
  margin-top: 180px;
  display: inline-block;
  text-decoration: none;
  color: var(--main-title-color);
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 900px) {
  .intro__button {
    margin-top: 65px;
    padding: 15px 30px;
    font-size: 22px;
    line-height: 21px;
  }
}
@media screen and (max-width: 700px) {
  .intro__button {
    padding: 10px 22px;
    font-size: 18px;
  }
}