.intro__button {
  font-weight: var(--font-weight-medium);
  font-size: 24px;
  line-height: 130%;
  padding: 16px 40px;
  background-color: var(--yellow-intro-button);
  border-radius: 30px;
  margin-top: 80px;
  display: inline-block;
  text-decoration: none;
  color: var(--main-title-color);
  cursor: pointer;
  border: none;
}