.popup__close {
  position: absolute;
  top: 0;
  right: -30px;
  background-image: url(../../../images/close.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .popup__close {
    right: -20px;
  }
}
@media screen and (max-width: 480px) {
  .popup__close {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    right: 0;
  }
}