:root {
  --main-title-color: #000;
  --histories-slider-text-color: #1C2448;
  --white-background: #fff;
  --light-grey-background: rgba(217, 217, 217, .6);
  --medium-grey-background: #C2C2C2;
  --light-bezh-card-background: #F0EEEE;
  --medium-bezh-card-background: #D9D9D9;
  --header-link-color: #333;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}