.expert__rectangle {
  border: 13px solid #6582F7;
  border-radius: 54px;
  width: 91%;
  height: 105px;
  position: absolute;
  top: -12px;
  right: -12px;
}
@media screen and (max-width: 900px) {
  .expert__rectangle {
    width: 100px;
    height: 91%;
    top: auto;
    bottom: -12px;
    left: -12px;
  }
}