.roles {
  display: flex;
  justify-content: space-between;
  padding: 0 56px 0 100px;
  box-sizing: border-box;
  margin-bottom: 142px;
  margin-top: 140px;
}

@media screen and (max-width: 1024px) {
  .roles {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .roles {
    padding-right: 21px;
    padding-left: 19px;
    max-height: max-content;
    margin-top: 0;
    margin-bottom: 494px;
  }
}