.roles {
  display: flex;
  justify-content: space-between;
  padding: 140px 56px 142px 100px;
  box-sizing: border-box;
  background-color: var(--medium-bezh-background);
}
@media screen and (max-width: 1405px) {
  .roles {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 22px;
    padding-bottom: 450px;
    min-height: 500px;
    margin-top: 0;
  }
}