.open-offer__faculties {
  min-width: 838px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 970px) {
  .open-offer__faculties {
    min-width: 100%;
    flex-wrap: wrap;
  }
}