.header__btn {
  background-color: transparent;
  padding: 5px 16px;
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 130%;
  border: 2px solid var(--main-title-color);
  border-radius: 30px;
  cursor: pointer;
}