.form__label {
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 22px;
  width: 180px;
}
@media screen and (max-width: 950px) {
  .form__label {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 480px) {
  .form__label {
    font-size: 13px;
    width: 100px;
  }
}