.roles__title {
  font-size: 62px;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  max-width: 365px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .roles__title {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .roles__title {
    font-size: 25px;
  }
}