.faq__button {
  background-color: var(--yellow-button);
  border-radius: 30px;
  max-width: 230px;
  height: 45px;
  border: none;
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 15px;
}