@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

h1 {
  font-family: 'YS Text', 'Arial', 'Helvetica', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
}