.intro__img-container {
  position: absolute;
  z-index: -2;
  display: flex;
  top: 0;
  right: 31px;
  gap: 40px;
  transform: rotate(15deg);
}
@media screen and (max-width: 700px) {
  .intro__img-container {
    transform: none;
    position: relative;
    margin-top: 28px;
    justify-content: center;
  }
}