.roles__text {
  font-size: 20px;
  line-height: 1.1;
  text-align: end;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 740px) {
  .roles__text {
    max-width: 300px;
    text-align: start;
  }
}
@media screen and (max-width: 480px) {
  .roles__text {
    font-size: 18px;
  }
}