.quiz__role-card {
  min-height: 677px;
  width: 1149px;
  background-color: var(--blue-background);
  border-radius: 40px;
  flex-direction: column;
  position: relative;
  padding: 85px 20px 0 95px;
  box-sizing: border-box;
}