.roles__image {
  width: 265px;
  height: 167px;
}

@media screen and (max-width: 1405px) {
  .roles__image {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .roles__image {
    width: 275px;
    height: 145px;
  }
}