.faculties {
  padding: 140px 100px 23px 100px;
  background-color: var(--medium-bezh-background);
}
@media screen and (max-width: 600px) {
  .faculties {
    padding-left: 20px;
    padding-right: 0;
  }
}