.quiz__image {
  max-width: 342px;
  max-height: 342px;
  align-self: end;
  margin-right: 85px;
  margin-bottom: 142px;
}

@media screen and (max-width: 480px) {
  .quiz__image {
    width: 107px;
    height: 107px;
    position: absolute;
    top: 23px;
    left: calc((100% - 107px) / 2);
  }
}