.form__container-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .form__container-block {
    flex-direction: row;
    gap: 17px;
    justify-content: center;
  }
}