.roles__card {
  max-width: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

@media screen and (max-width: 1405px) {
  .roles__card {
    width: 100%;
    justify-content: start;
    padding: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 740px) {
  .roles__card {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 0;
    align-items: center;
  }
}