.roles__heading {
  font-size: 32px;
  line-height: 1.2;
  text-align: end;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .roles__heading {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: start;
  }
}