.roles__heading {
  font-size: 32px;
  line-height: 1.2;
  text-align: end;
  margin: 0;
}

@media screen and (max-width: 1405px) {
  .roles__heading {
    font-size: 22px;
    text-align: start;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 740px) {
  .roles__heading {
    max-width: 300px;
  }
}