.popup__title {
  font-weight: var(--font-weight-medium);
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .popup__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .popup__title {
    font-size: 15px;
    line-height: 22px;
  }
}