.footer__wrapper-links_content_info {
  flex-direction: column;
  max-height: 109px;
  gap: 20px;
  margin: 0;
  max-width: fit-content;
}

@media screen and (max-width: 1024px) {
  .footer__wrapper-links_content_info {
    gap: 10px;
  }
}