.expert__number-container {
  border: 9px solid var(--border-color-expert);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-background);
}