.intro__title {
  font-weight: var(--font-weight-bold);
  font-size: 82px;
  line-height: 101.2%;
  margin: 0;
  max-width: 736px;
}
@media screen and (max-width: 900px) {
  .intro__title {
    font-size: 50px;
    max-width: 400px;
  }
}
@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 32px;
    max-width: 252px;
    line-height: 100%;
  }
}